body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100%;
    width: 100%;
    background-color: #222;
    overflow: hidden;
}
/* Just for the landing page */
.mainTitle {
    justify-content: center;
    align-content: center;
    font-style: italic;
    height: 100vh;
    width: 100vw;
    font-size: clamp(16px, 3vw, 4em); 
    color: rgb(247, 238, 73);
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
.startBtnStyle{
    height: clamp(20px, 3vw, 100px);
    font-size: clamp(5px, 1vw, 25px); 
    text-align: center;
    cursor: pointer;
    color: #222;
}
.fadeout{
    opacity: 0;
}
/* For the slide show */
.slideShow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #666;
}
.title{
    background-color: #f55;
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    width: 100vw;
    font-size: 1em;
    text-align: center;
    text-justify: initial;
}
.votes{
    background-color: #5f5;
    height: 50vh;
    width: 30vw;
}
.story{
    background-color: #55f;
    height: 50vh;
    width: 30vw;
}
.photo{
    background-color: #888;
    height: 100vh;
    width: 70vw;
}