body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100%;
    width: 100%;
    background-color: #222;
    overflow: hidden;
}
/* Just for the landing page */
.mainTitle {
    justify-content: center;
    align-content: center;
    font-style: italic;
    height: 100vh;
    width: 100vw;
    font-size: clamp(16px, 3vw, 4em); 
    color: rgb(247, 238, 73);
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
.startBtnStyle{
    height: clamp(20px, 3vw, 100px);
    font-size: clamp(5px, 1vw, 25px); 
    text-align: center;
    cursor: pointer;
    color: #222;
}
.fadeout{
    opacity: 0;
}
/* For the slide show, portrait orientation */
.container{
    display: grid;
    height: 100vh;
    width: 100vw; 
    /* gap: 10px; */
    /* padding: 10px; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "a"
    "b"
    "c";
}

.votes, .fanfuct, .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.votes{
    border: 5px solid #5f5;
    grid-area: a;
}
.fanfuct{
    border: 5px solid #55f;
    grid-area: b;
}
.photo{
    border: 5px solid #888;
    grid-area: c;
}

@media (orientation: landscape) {
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a c"
        "b c";
      }
    
      .photo {
        grid-row: 1 / 3;
      }
    
}